@charset "utf-8";
/* CSS Document */

/*
Blue header text: #4DD0E1
Header BG: #3949AB
Blue/Green: #00ACC1
Green: #6AC728
Orange: #D74315
Yellow: #CDDC39
Dark blue/green: #006056
*/

/*
=============================================================
                           HERO
=============================================================
*/

.hero {
	background-color:#3949AB;
	color:#e0e0e0;
	font-weight:400;
	padding:6rem 2rem 8rem 2rem;
	background-image:url(/images/grad-dark-blue.png);
	background-position:bottom center;
	background-repeat:repeat-x;
	position:relative;
	text-align:center;
}

.hero-features {
	list-style:none;
	margin:3rem 0;
	font-weight:200;
	font-size:1.5rem;
}

.hero-features li {
	display:inline;
	margin:0 2px;
}

.hero-features li:nth-child(even) {
	color:rgba(73,186,215,1);
}

.trusted-by ul {
	list-style:none;
}

.trusted-by li {
	display:inline;
}

.trusted-by h3 {
	font-weight:400;
	text-transform:uppercase;
	font-size:0.8rem;
}

.hero h1 {
	font-size:3.2rem;
	color:#4dd0e1;
	font-weight:200;
	line-height:1;
}

.trusted-by-logos {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.trusted-by-logos li {
	padding:7px;
}

.bracket { /*all brackets*/
	fill:#6AC728;
	width:80vw;
	position:absolute;
	bottom:-1px;
	left:calc(50% - 40vw);
}

.hero-bracket {
	fill:#00ACC1;
}


@media (min-width:1024px) { /*hero only*/
	
	.hero-container {
		max-width:1200px;
		margin:0 auto;
		display:grid;
		grid-gap:20px;
		grid-template-columns:1fr 2fr;
		border-left:1px solid #4dd0e1;
		padding-left:20px;
	}
	
	.bracket {
		width:30vw;
	}
	
	.hero {
		text-align:left;
	}
	
	.trusted-by {
		grid-column:2/3;
	}
	
	.trusted-by h3 {
		margin-bottom:10px;
	}
	
	.trusted-by-logos {
		display:block;
	}
	
	.hero h1 {
		grid-column:2/3;
		grid-row:1/2;
		font-size:4.2rem;
	}
	
	.hero-features {
		grid-column:1/2;
		grid-row:1/3;
		margin:0;
	}
	
	.hero-features::before {
		content:'';
		
	}
	
	.hero-features li {
		display:block;
		margin:10px 0;
	}
	
}
/*
=============================================================
                        FEATURE BANDS
=============================================================
*/

/* All features */

.feature-bar {
	padding:4rem 2rem 10rem 2rem;
	position:relative;
	text-align:center;
	/*apply gradients to all feature backgrounds*/
	background-image:url(/images/grad-yellow.png);
	background-blend-mode:overlay;
	background-repeat:repeat-x;
	background-position:bottom;
}

.pic-container {
	width:calc(100vw - 4rem);
	margin:0 auto;
	max-width:640px;
}

.pic {
	width:100%;
	padding-top:100%;
}


/* Computer */
.computer {
	background-image:url(/images/grad.png);
	background-blend-mode:overlay;
	background-color:#00ACC1;
}

.computer-bracket {
	fill:#6AC728;
}

.pic-computer {
	background:  url(/images/pic-computer-sm.jpg) center top / contain no-repeat ;
	
}

/* Components */
.components {
	background-image:url(/images/grad-yellow.png);
	background-blend-mode:overlay;
	background-color: #6AC728;

}

.components-bracket {
	fill:#D74315;
}

.pic-components {
	background: url(/images/pic-keys-sm.jpg) center top / contain no-repeat;
}

.components h2 {
	color:#006056;
}

/* Oscilloscope */
.oscilloscope {
	background-image:url(/images/grad-yellow.png);
	background-blend-mode:overlay;	
	background-color: #D74315;
}

.oscilloscope-bracket {
	fill:#00ACC1;
}

.pic-oscilloscope {
	background:url(/images/pic-oscilloscope-sm.jpg) center top / contain no-repeat;
}

/* Books */
.books {
	background-image:url(/images/grad.png);
	background-blend-mode:overlay;
	background-color: #00ACC1;
}

.books-bracket {
	fill:#6AC728;
}

.pic-books {
	background: url(/images/pic-books-sm.jpg) center top / contain no-repeat;
}

/* Tools */
.tools {
	background-image:url(/images/grad-yellow.png);
	background-blend-mode:overlay;
	background-color: #6AC728;
}

.tools-bracket {
	fill:#D74315;
}

.pic-tools {
	background: url(/images/pic-tools-sm.jpg) center top / contain no-repeat;
}

.tools h2 {
	color:#006056;
}

/* Hidden */
.hidden {
	background-color: #D74315;
}

.hidden-bracket {
	fill:#00ACC1;
}

.pic-hidden {
	background: url(/images/pic-hidden-sm.jpg) center top / contain no-repeat;
}

/* Sink */
.sink {
	background-image:url(/images/grad.png);
	background-blend-mode:overlay;
	background-color: #00ACC1;
}

.sink-bracket {
	fill:#6AC728;
}

.pic-sink {
	background: url(/images/pic-sink-sm.jpg) center top / contain no-repeat;
}

.other-points {
	list-style:none;
}

.other-points li {
	display:inline;
	color:#fff;
	font-size:1.5rem;
	font-weight:200;
}

.other-points li:nth-child(even) {
	color:yellow;
}

/* Trebuchet */
.trebuchet {
	background-image:url(/images/grad-yellow.png);
	background-blend-mode:overlay;
	background-color:#6AC728;
}

.pic-trebuchet {
	background: url(/images/pic-trebuchet-sm.jpg) center top / contain no-repeat;
}

.trebuchet h2 {
	color:#006056;
}

@media (min-width:1024px) {
	
	.feature-container {
		display:grid;
		grid-template-columns: 45% 1fr;
		grid-gap:20px;
		max-width:1200px;
		margin:0 auto;
		text-align:left;
	}
	
	.pic-container {
		grid-column:2/3;
		grid-row:1/2;
    width:100%;
    margin:0;
    max-width:640px;
		min-width:320px;
	}
	
	.description-container {
		grid-column:1/2;
		grid-row:1/2;
		display:flex;		
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
	}
	
	.description {
		margin:0 50px;
	}
	
}
