{% set pageBracketClass = "hero-bracket" %}
{% extends "layout-with-hero.html" %}

{% block pageTitle %}Contributions{% endblock %}
{% block pageHeading %}Contributions{% endblock %}
{% block pageBodyId %}Contributions{% endblock %}

{% block pageContentBody %}

<article style="padding:50px">

<p>
Qooxdoo development is mainly done by opensource software enthusiasts
in their free time and supported by a few companies using Qooxdoo in
customer projects.</p>

<h2 id="donations">Donations</h2>

<p>
We accept financial support through donations. We currently
plan to use such funds for the promotion of Qooxdoo, for example at
conferences.
</p>

<p style="margin-top:2ex; margin-bottom:2ex;">
<script type="text/javascript" defer
src="https://donorbox.org/install-popup-button.js"></script><a
class="dbox-donation-button"
href="https://donorbox.org/qooxdoo-org?default_interval=o">Donate</a>
</p>

<p>You can also use traditional banking transactions to send us your
contributions by paying directly to our account here in Switzerland
avoiding transaction fees being deducted from your donation:</p>

<p style="padding-top:1ex; padding-bottom:1ex;">
IBAN CH61 0900 0000 1563 5111 7</br>
BIC POFICHBEXX</br>
Verein qooxdoo.org
</p>

<p>Please let us know if you want to be listed in the following section.</p>

<h2 id="donors">Donors</h2>

<p>Direct financial support has been received by the following donors
who allowed us to list their contributions:</p>

<ul class="donorlist">
  <li><a href="https://www.digisoftph.com/">Digital Software
  Technology Consultancy</a>, Paranaque City, Philippines</li>
  <li><a href="https://www.iceteagroup.com">Ice Tea Group LLC</a> <a href="https://wisej.com">(Wisej)</a>,
  Washington DC, USA</li>
  <li><a href="https://www.oetiker.ch">Oetiker+Partner AG</a>, Olten, Switzerland</li>
  <li><a href="https://www.technolution.de">Technolution SW GmbH</a>,
  Bad Salzuflen, Germany</li>
  <li>Scott Knick, <a href="https://raceday.watch">raceday.watch</a>, USA</li>
  <li><a href="https://rixs.ch">Rösch Informatik GmbH</a>, Arbon, Switzerland</li>
</ul>

<p>We also accept donations from parties that don't want to be listed publically.</p>


<h2 id="sponsors">Sponsors</h2>

<dl class="sponsorlist">
  <dt><a href="https://www.iceteagroup.com">Ice Tea Group LLC</a> <a href="https://wisej.com">(Wisej)</a></dt>
  <dd>Qooxdoo software development</dd>
  <dt><a href="https://www.oetiker.ch">Oetiker+Partner AG</a></dt>
  <dd>Qooxdoo software development, administration of Qooxdoo foundation</dd>
  <dt><a href="https://www.zenesis.com">Zenesis Ltd</a></dt>
  <dd>Qooxdoo software development</dd>
</dl>

<p>If you our your company want to sponsor extensions to Qooxdoo needed
in your projects, please get in touch at <a href="mailto:info@qooxdoo.org">info@qooxdoo.org</a></p>.

</article>


{% endblock %}

