
{% extends "outer-layout.html" %}

{% block pageTitle %}Qooxdoo Home{% endblock %}
{% block pageBodyId %}home{% endblock %}

{% block pageContent %}
<!-- START HERO -->
<section class="hero">
    <div class="hero-container">

        <h1>A universal JavaScript framework</h1>

        <ul class="hero-features">
            <li><a href="#single-page-app">Single page applications</a></li>
            <li><a href="#ui-components">Wide range of UI components</a></li>
            <li><a href="#documentation">Extensive documentation</a></li>
            <li><a href="#mature-stable-open-source">Mature, stable &amp; open source</a></li>
            <li><a href="#object-model">Sophisticated object model</a></li>
            <li><a href="#test-suite">Comprehensive test suite</a></li>
            <li><a href="#toolchain">100% javascript toolchain</a></li>
            <li><a href="#battle-tested">Battle tested</a></li>
        </ul>

        <a href="portfolio"><div class="trusted-by">
            <h3>Trusted by</h3>
            <ul class="trusted-by-logos">
                <li class="logo-01"><img src="images/01-logo-spar.png" width="72" height="45" alt="Spar"></li>
                <li class="logo-02"><img src="images/02-logo-fmi.png" width="70" height="45" alt="FMI"></li>
                <li class="logo-03"><img src="images/03-logo-gsa.png" width="61" height="45" alt="GSA Logo"></li>
                <li class="logo-04"><img src="images/04-logo-hin.png" width="64" height="45" alt="HIN Logo"></li>
                <li class="logo-05"><img src="images/05-logo-intentor.png" width="92" height="45" alt="Intentor Logo"></li>
                <li class="logo-06"><img src="images/06-logo-litecom.png" width="79" height="45" alt="Litecom Logo"></li>
                <li class="logo-07"><img src="images/07-logo-oesterreichs.png" width="87" height="45" alt="Oesterreichs Logo"></li>
                <li class="logo-08"><img src="images/08-logo-plaidCloud.png" width="96" height="45" alt="PlaidCloud Logo"></li>
                <li class="logo-09"><img src="images/09-logo-qunidav.png" width="83" height="45" alt="Qunidev Logo"></li>
                <li class="logo-10"><img src="images/10-logo-smilevision.png" width="62" height="45" alt="Smilevision Logo"></li>
                <li class="logo-11"><img src="images/11-logo-trustx.png" width="71" height="45" alt="Trustx Logo"></li>
                <li class="logo-12"><img src="images/12-logo-upc.png" width="73" height="45" alt="UPC Logo"></li>
                <li class="logo-13"><img src="images/13-logo-upnfm.png" width="80" height="45" alt="UPNFM Logo"></li>
                <li class="logo-14"><img src="images/14-logo-vseaes.png" width="41" height="45" alt="VSEAES Logo"></li>
                <li class="logo-15"><img src="images/15-logo-vzaweb.png" width="90" height="45" alt="VZAweb Logo"></li>
            </ul>
        </div></a>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 189.805 19.388" class="hero-bracket bracket">
            <path d="M0,19.388V18.9c0-2.734,0.834-4.95,2.5-6.65c1.667-1.7,4-2.55,7-2.55h73.885c2.934,0,5.15-0.917,6.65-2.75
    c1.5-1.834,2.25-4.15,2.25-6.95h4.887c0,2.8,0.75,5.116,2.25,6.95c1.5,1.833,3.684,2.75,6.55,2.75h74.331c3,0,5.333,0.85,7,2.55
    c1.666,1.7,2.5,3.916,2.5,6.65v0.488H0z"/>
        </svg>

    </div>
</section>
<!-- end hero -->



<!-- START COMPUTER -->
<section id="single-page-app" class="feature-bar computer">
    <div class="feature-container">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 189.805 19.388" class="computer-bracket bracket">
            <path d="M0,19.388V18.9c0-2.734,0.834-4.95,2.5-6.65c1.667-1.7,4-2.55,7-2.55h73.885c2.934,0,5.15-0.917,6.65-2.75
    c1.5-1.834,2.25-4.15,2.25-6.95h4.887c0,2.8,0.75,5.116,2.25,6.95c1.5,1.833,3.684,2.75,6.55,2.75h74.331c3,0,5.333,0.85,7,2.55
    c1.666,1.7,2.5,3.916,2.5,6.65v0.488H0z"/>
        </svg>

        <div class="pic-container">
            <div class="pic pic-computer"></div>
        </div>

        <div class="description-container">
            <div class="description">
                <h2>Build rich, single page applications</h2>
                <p>Build rich, Single Page Applications using OO development, with no CSS or HTML required - Qooxdoo applications are cross platform, run on any browser or NodeJS, and can be coded in latest ES6 everywhere (including server and mobile)</p>
            </div>
        </div>
    </div>

</section>
<!-- end computer -->


<section id="ui-components" class="feature-bar components">
    <div class="feature-container">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 189.805 19.388" class="components-bracket bracket">
            <path d="M0,19.388V18.9c0-2.734,0.834-4.95,2.5-6.65c1.667-1.7,4-2.55,7-2.55h73.885c2.934,0,5.15-0.917,6.65-2.75
    c1.5-1.834,2.25-4.15,2.25-6.95h4.887c0,2.8,0.75,5.116,2.25,6.95c1.5,1.833,3.684,2.75,6.55,2.75h74.331c3,0,5.333,0.85,7,2.55
    c1.666,1.7,2.5,3.916,2.5,6.65v0.488H0z"/>
        </svg>

        <div class="pic-container">
            <div class="pic pic-components"></div>
        </div>

        <div class="description-container"> <div class="description">
        <h2>Versatile and powerful</h2> <p>Qooxdoo offers a wide range of
        <a href="http://qooxdoo.org/apps/widgetbrowser"> widgets</a> and <a
        href="http://qooxdoo.org/apps/demobrowser">UI components</a>, plus
        powerful <a href="http://www.qooxdoo.org/documentation/#/communication/">server
        I/O communication</a>.</p> </div> </div>


    </div>
</section>


<section id="test-suite" class="feature-bar oscilloscope">
    <div class="feature-container">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 189.805 19.388" class="oscilloscope-bracket bracket">
            <path d="M0,19.388V18.9c0-2.734,0.834-4.95,2.5-6.65c1.667-1.7,4-2.55,7-2.55h73.885c2.934,0,5.15-0.917,6.65-2.75
    c1.5-1.834,2.25-4.15,2.25-6.95h4.887c0,2.8,0.75,5.116,2.25,6.95c1.5,1.833,3.684,2.75,6.55,2.75h74.331c3,0,5.333,0.85,7,2.55
    c1.666,1.7,2.5,3.916,2.5,6.65v0.488H0z"/>
        </svg>

        <div class="pic-container">
            <div class="pic pic-oscilloscope"></div>
        </div>

        <div class="description-container">
            <div class="description">
                <h2>Comprehensive Test Suite</h2>
                <p>Built in <a
                        href="http://www.qooxdoo.org/documentation/#/development/testing/">unit
                    testing framework</a> with unit tests across the API and
                    User Interface testing</p>
            </div>
        </div>

    </div>
</section>


<section id="documentation" class="feature-bar books">
    <div class="feature-container">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 189.805 19.388" class="books-bracket bracket">
            <path d="M0,19.388V18.9c0-2.734,0.834-4.95,2.5-6.65c1.667-1.7,4-2.55,7-2.55h73.885c2.934,0,5.15-0.917,6.65-2.75
    c1.5-1.834,2.25-4.15,2.25-6.95h4.887c0,2.8,0.75,5.116,2.25,6.95c1.5,1.833,3.684,2.75,6.55,2.75h74.331c3,0,5.333,0.85,7,2.55
    c1.666,1.7,2.5,3.916,2.5,6.65v0.488H0z"/>
        </svg>

        <div class="pic-container">
            <div class="pic pic-books"></div>
        </div>

        <div class="description-container">
            <div class="description">
                <h2>Extensive Documentation</h2>
            <p>With its well thought out and mature object oriented architecture,  
                <a href="http://www.qooxdoo.org/documentation/#/contents">comprehensive documentation</a>, 
                and <a href="http://www.qooxdoo.org/qxl.tutorial/#">Tutorials</a> to get you started, 
                Qooxdoo is the perfect choice for beginners and for seasoned developers alike. 
                The interactive <a href="http://www.qooxdoo.org/qxl.apiviewer">API Viewer</a> is also available for your own code.
              </p>
            </div>
        </div>

    </div>
</section>


<section id="toolchain" class="feature-bar tools">
    <div class="feature-container">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 189.805 19.388" class="tools-bracket bracket">
            <path d="M0,19.388V18.9c0-2.734,0.834-4.95,2.5-6.65c1.667-1.7,4-2.55,7-2.55h73.885c2.934,0,5.15-0.917,6.65-2.75
    c1.5-1.834,2.25-4.15,2.25-6.95h4.887c0,2.8,0.75,5.116,2.25,6.95c1.5,1.833,3.684,2.75,6.55,2.75h74.331c3,0,5.333,0.85,7,2.55
    c1.666,1.7,2.5,3.916,2.5,6.65v0.488H0z"/>
        </svg>

        <div class="pic-container">
            <div class="pic pic-tools"></div>
        </div>

        <div class="description-container">
            <div class="description">
                <h2>Built in Tools</h2>
                <p>100% Javascript toolchain and applications, including
                    a <a href="http://www.qooxdoo.org/documentation/#/development/compiler/README.md">Compiler</a>,
                    an <a href="http://www.qooxdoo.org/qxl.playground">Interactive Playground</a>,
                    a browser for <a href="http://www.qooxdoo.org/qxl.demobrowser">Application Components</a> and 
                    for individual <a href="http://www.qooxdoo.org/qxl.widgetbrowser">Widgets</a>,
                    and an <a href="http://www.qooxdoo.org/qxl.apiviewer">API Viewer</a>.</p>
            </div>
        </div>

    </div>
</section>


<section id="mature-stable-open-source" class="feature-bar hidden">
    <div class="feature-container">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 189.805 19.388" class="hidden-bracket bracket">
            <path d="M0,19.388V18.9c0-2.734,0.834-4.95,2.5-6.65c1.667-1.7,4-2.55,7-2.55h73.885c2.934,0,5.15-0.917,6.65-2.75
    c1.5-1.834,2.25-4.15,2.25-6.95h4.887c0,2.8,0.75,5.116,2.25,6.95c1.5,1.833,3.684,2.75,6.55,2.75h74.331c3,0,5.333,0.85,7,2.55
    c1.666,1.7,2.5,3.916,2.5,6.65v0.488H0z"/>
        </svg>

        <div class="pic-container">
            <div class="pic pic-hidden"></div>
        </div>

        <div class="description-container">
            <div class="description">
                <h2>The "hidden gem" of browser development</h2>
                <p>Qooxdoo has been powering desktop grade applications for over 10 years. Originally started by 1&1, Qooxdoo transformed
                    into an entirely community lead Open Source project, operated by a non-profit foundation and is entirely based on the MIT
                    license. Qooxdoo has an incredibly stable API, with backwards compatibility a primary goal, hardly anything needs an update
                    except when browsers change in backward-incompatible ways.</p>
            </div>
        </div>

    </div>
</section>


<section id="object-model" class="feature-bar sink">
    <div class="feature-container">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 189.805 19.388" class="sink-bracket bracket">
            <path d="M0,19.388V18.9c0-2.734,0.834-4.95,2.5-6.65c1.667-1.7,4-2.55,7-2.55h73.885c2.934,0,5.15-0.917,6.65-2.75
    c1.5-1.834,2.25-4.15,2.25-6.95h4.887c0,2.8,0.75,5.116,2.25,6.95c1.5,1.833,3.684,2.75,6.55,2.75h74.331c3,0,5.333,0.85,7,2.55
    c1.666,1.7,2.5,3.916,2.5,6.65v0.488H0z"/>
        </svg>

        <div class="pic-container">
            <div class="pic pic-sink"></div>
        </div>

        <div class="description-container">
            <div class="description">
                <h2>Everything for robust web application development</h2>
                <ul class="other-points">
                    <li><a href="http://www.qooxdoo.org/documentation/#/core/classes">A dedicated class system</a> with <a href="http://www.qooxdoo.org/documentation/#/core/classes?id=usage-of-interfaces-and-mixins">interfaces & mixins</a></li>
                    <li><a href="http://www.qooxdoo.org/documentation/#/core/understanding_properties">Custom class properties</a></li>
                    <li><a href="http://www.qooxdoo.org/documentation/#/core/data_binding/">Data binding</a></li>
                    <li><a href="http://www.qooxdoo.org/documentation/#/core/promises">Promises</a></li>
                    <li>Webfonts</li>
                    <li>Annotations</li>
                    <li>Automatic Memory Management</li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section id="battle-tested" class="feature-bar trebuchet">
    <div class="feature-container">

        <div class="pic-container">
            <div class="pic pic-trebuchet"></div>
        </div>

        <div class="description-container">
            <div class="description">
                <h2>Battle tested</h2>
                <p>Qooxdoo is used in a large number of enterprise applications used in hospitals,
                    universities, schools, research institutions, businesses,
                    and public administration. See some of them in our <a href="portfolio/">portfolio</a>.
                </p>
            </div>
        </div>

    </div>
</section>
{% endblock %}
