{% extends "error-page.html" %}

{% block pageHeaderExtraScripts %}
{% endblock %}

{% block pageContentBody %}
  <h1 id="error">This page does not exist.</h1>
  <p>Sorry, you've reached a page that no longer exists - we've recently redesigned 
  our website, and you should be able to find the content that you were looking for
  by browsing the site</p>
  <p>If you can't find what you're looking for, please get in touch with a real person
    on <a href="https://gitter.im/qooxdoo/qooxdoo">Gitter.im/qooxdoo/qooxdoo</a></p>

<script type="text/javascript">
    var loc = window.location;
    document.getElementById("error").innerHTML = "The page <b>" + loc.search.substr(1) + "<b> does not exist.";
</script>
    
{% endblock %}


