
{% extends "layout-with-hero.html" %}

{% block pageTitle %}Portfolio{% endblock %}
{% block pageBodyId %}portfolio-page{% endblock %}
{% block pageHeading %}Powered by Qooxdoo{% endblock %}

{% block pageHeaderExtraScripts %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
<script type="text/javascript" src="js/slick/slick.min.js"></script>
{% endblock %}


{% block pageHeroBody %}
<p>Here's a few of the many applications which are...</p>
{% endblock %}

{% block pageContentBody %}

  <div id="portfolio-nav">
    {% for item in items %}
      <div class="portfolio-nav-frame">
        <div class="portfolio-nav-slide">
          <img
              src="{{ item.images[0] }}"
              alt="{{ item.caption }}">
        </div>
      </div>
    {% endfor %}
  </div>
  <div id="portfolio-slider">
    {% for item in items %}
      <div class="portfolio-slide-frame">
        <div class="portfolio-slide">
          <div class="portfolio-slide-body">
            <h2>{{ item.caption | safe }}</h2>
            <img class="header-image"
                src="{{ item.images[0] }}"
                alt="{{ item.caption }}">
            {{ item.body | safe }}
            {% if item.author %}
              <p>Author: <a rel="nofollow" href="{{ item.author }}">{{ item.author }}</a></p>
            {% endif %}
            {% if item.website %}
              <p>Website: <a rel="nofollow" href="{{ item.website }}">{{ item.website }}</a></p>
            {% endif %}
            {% if item.sourceCode %}
              <p>Source Code: <a rel="nofollow" href="{{ item.sourceCode }}">{{ item.sourceCode }}</a></p>
            {% endif %}
            {% for imageIndex in range(1, item.images.length) %}
                <img
                  src="{{ item.images[imageIndex] }}"
                  alt="{{ item.caption }}"> 
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

<script type="text/javascript">
$(function() {
  // shuffle slider items
  /*
  let portfolio = $("#portfolio-slider");
  let portfolioNav = $("#portfolio-nav");
  for (var i = portfolio.children.length; i >= 0; i--) {
    let index = Math.round(Math.random() * i | 0);
    portfolio.appendChild(portfolio.children[index]);
    portfolioNav.appendChild(portfolioNav.children[index]);
  }
  */
  
  $("#portfolio-slider").slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '.portfolio-nav'
  });
  $('#portfolio-nav').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    asNavFor: '.portfolio',
    dots: true,
    centerMode: true,
    focusOnSelect: true
  });
});
</script>
{% endblock %}

