{% set pageBracketClass = "hero-bracket" %}
{% extends "layout-with-hero.html" %} 
{% block pageTitle %}Sample Styles{% endblock %} 
{% block pageHeading %}Sample Styles{% endblock %} 

{% block pageContentBody %}
<h1>Content Styles</h1>
<p>
  Lorem lorem ipsum dolor sit amet, <strong> strong </strong> , <em> emphsis </em> ,
  <del> Deleted </del>
  <ins cite="http://www.nomensa.com" datetime="20031024"> Inserted </ins>
  ,
  <kbd> Keyboard </kbd>
  ,
  <samp> Sample output </samp>
  . <abbr title="abbreviation"> abbr </abbr> , <acronym title="Acronym"> AN </acronym> ,
  <dfn title="A concise explanation of the meaning of a word or phrase or symbol"> Definition
  </dfn>
  . Etiam laoreet tortor ac nunc. Nulla risus nulla, suscipit eget, <a href="#">rhoncus et</a> ,
  nonummy sed, tortor. Arat volutpat. Etiam consequat imperdiet lorem. Nullam aliquet volutpat wisi.
  Cum sociis <a href="#">natoque penatibus et</a> magnis dis parturient montes, nascetur ridiculus
  mus. Sed dolor pede,tempus non, volutpat dignissim, cursus non, mauris.
</p>
<p>
  <a href="#">Link Style (#006699)</a>
</p>
<p>
  <a href="#">Visited Link Style (#505070)</a>
</p>
<p>
  <a href="#">Hover Style (#CC3333)</a>
</p>
<p>
  <a href="#">Focus Style</a>
</p>
<hr />
<h2>Heading Two</h2>
<p>
  In tristique. Integer blandit, lorem eget tincidunt posuere, quam wisi fermentum elit, quis
  aliquam ante enim at nibh. <a href="#">Sed faucibus</a> sem et mi. Donec iaculis nulla nec urna.
  Phasellus ultricies est et urna.
</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam laoreet tortor ac nunc. Nulla
  risus nulla, suscipit eget, rhoncus et, nonummy sed,tortor. Aliquam erat volutpat. Etiam consequat
  mperdiet lorem. Nullam aliquet volutpat wisi.</p>
<h3>Heading Three</h3>
<p>Donec iaculis nulla nec urna. Phasellus ultricies est et urna.</p>
<h4>Heading Four</h4>
<p>Etiam laoreet tortor ac nunc. Nulla risus nulla, suscipit eget, rhoncus et, nonummy
  sed,tortor. Aliquam erat volutpat. Etiam consequat mperdiet lorem. Nullam aliquet volutpat wisi.</p>
<h2>Lists</h2>
<h3>Unordered</h3>
<ul>
  <li>List item</li>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam laoreet tortor ac nunc.
    Nulla risus nulla, suscipit ege, rhoncus et, nonummy sed, tortor. Aliquam erat volutpat. Etiam
    consequat imperdiet lorem. Nullam aliquet volutpat wisi.
    <ul>
      <li>List item</li>
      <li>List item</li>
      <li>List item
        <ul>
          <li>List item</li>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam laoreet tortor ac
            nunc. Nulla risus nulla, suscipit eget, rhoncus et, nonummy sed, tortor. Aliquam erat
            volutpat. Etiam consequat imperdiet lorem. Nullam aliquet volutpat wisi.</li>
        </ul>
      </li>
      <li>List item</li>
      <li>List item</li>
    </ul>
  </li>
  <li>List item</li>
</ul>
<h3>Ordered</h3>
<ol>
  <li>List item</li>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam laoreet tortor ac nunc.
    Nulla risus nulla, suscipit eget, rhoncus et, nonummy sed, tortor. Aliquam erat volutpat. Etiam
    consequat imperdiet lorem. Nullam aliquet volutpat wisi.
    <ol>
      <li>List item</li>
      <li>List item</li>
      <li>List item
        <ol>
          <li>List item</li>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam laoreet tortor ac
            nunc. Nulla risus nulla, suscipit eget, rhoncus et, nonummy sed, tortor. Aliquam erat
            volutpat. Etiam consequat imperdiet lorem. Nullam aliquet volutpat wisi.</li>
        </ol>
      </li>
      <li>List item</li>
      <li>List item</li>
    </ol>
  </li>
  <li>List item</li>
</ol>
<h3>Both</h3>
<ul>
  <li>List item</li>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam laoreet tortor ac nunc.
    Nulla risus nulla, suscipit eget, rhoncus et, nonummy sed, tortor. Aliquam erat volutpat. Etiam
    consequat imperdiet lorem. Nullam aliquet volutpat wisi.
    <ol>
      <li>List item</li>
      <li>List item</li>
      <li>List item
        <ul>
          <li>List item</li>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam laoreet tortor ac
            nunc. Nulla risus nulla, suscipit eget, rhoncus et, nonummy sed, tortor. Aliquam erat
            volutpat. Etiam consequat imperdiet lorem. Nullam aliquet volutpat wisi.</li>
        </ul>
      </li>
      <li>List item</li>
      <li>List item</li>
    </ol>
  </li>
  <li>List item</li>
</ul>

    <h2>
        Definition Lists
    </h2>
    <dl>
        <dt>
            Definition Term
        </dt>
        <dd>
            Definition Description
        </dd>
        <dt>
            Definition Term
        </dt>
        <dd>
            Description Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Etiam laoreet tortor ac nunc. Nulla risus nulla, suscipit eget, rhoncus
            et, nonummy sed, tortor. Aliquam erat volutpat. Etiam consequat imperdiet
            lorem. Nullam aliquet volutpat wisi.
        </dd>
        <dt>
            Term Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam laoreet
            tortor ac nunc. Nulla risus nulla, suscipit eget, rhoncus et, nonummy sed,
            tortor. Aliquam erat volutpat. Etiam consequat imperdiet lorem. Nullam
            aliquet volutpat wisi.
        </dt>
        <dd>
            Definition Description
        </dd>
        <dt>
            Term Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam laoreet
            tortor ac nunc. Nulla risus nulla, suscipit eget, rhoncus et, nonummy sed,
            tortor. Aliquam erat volutpat. Etiam consequat imperdiet lorem. Nullam
            aliquet volutpat wisi.
        </dt>
        <dd>
            Description Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Etiam laoreet tortor ac nunc. Nulla risus nulla, suscipit eget, rhoncus
            et, nonummy sed, tortor. Aliquam erat volutpat. Etiam consequat imperdiet
            lorem. Nullam aliquet volutpat wisi.
        </dd>
    </dl>

<h2>Quotations</h2>
<blockquote>
  <p>Etiam laoreet tortor ac nunc. Nulla risus nulla, suscipit eget, rhoncus et, nonummy sed,
    tortor. Aliquam erat volutpat.</p>
</blockquote>
<blockquote cite="http://www.lipsum.com">
  <p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. consectetuer adipiscing elit.
    Etiam laoreet tortor ac nunc. Nulla risus nulla, suscipit eget, Etiam laoreet tortor ac nunc.
    Nulla risus nulla, suscipit eget, rhoncus et, nonummy sed, tortor. Aliquam erat volutpat."</p>
</blockquote>
<h3>Inline Quotation With Citation</h3>
<p>
  And <cite> Bob </cite> said <q> Lorem ipsum elit eget sed tortor </q> .
</p>
<h2>Tables</h2>
<table class="g_stdTable"
  summary="Table for annual council tax extimates based on house band and house value"
  cellpadding="4" cellspacing="0" width="100%">
  <caption>Annual Council Tax estimates</caption>
  <thead>
    <tr>
      <th>House Band</th>
      <th>House Value</th>
      <th>Council Tax <acronym title="per annum"> pa </acronym>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Band A</td>
      <td>&#163;50,000.00</td>
      <td>&#163;50</td>
    </tr>
    <tr>
      <td>Band B</td>
      <td>&#163;100,000.00</td>
      <td>&#163;100</td>
    </tr>
    <tr>
      <td>Band C</td>
      <td>&#163;150,000.00</td>
      <td>&#163;150</td>
    </tr>
    <tr>
      <td>Band D</td>
      <td>&#163;200,000.00</td>
      <td>&#163;200</td>
    </tr>
    <tr>
      <td>Band E</td>
      <td>&#163;250,000.00</td>
      <td>&#163;250</td>
    </tr>
  </tbody>
</table>
<h2>Panel 1</h2>
<div class="g_roundedPanel1">
  <h2 class="g_panelHeading">Heading 2</h2>
  <p>Enthusiastically formulate technically sound best practices without backward-compatible
    products. Seamlessly supply extensible networks without distributed ROI. Compellingly enable
    cross-media materials via team building human capital.</p>
  <p>Rapidiously benchmark real-time infomediaries rather than efficient human capital.
    Synergistically e-enable performance based meta-services and extensive niches. Progressively
    enhance scalable infrastructures without best-of-breed e-commerce.</p>
  <h3>Heading 3</h3>
  <p>Credibly reconceptualize prospective ideas for viral core competencies. Credibly
    recaptiualize plug-and-play applications rather than vertical portals. Authoritatively enhance
    goal-oriented markets via multimedia based markets.</p>
  <p>Completely generate leveraged bandwidth through diverse functionalities. Energistically
    network next-generation action items without clicks-and-mortar portals. Globally generate
    parallel catalysts for change via extensive internal or "organic" sources.</p>
  <h4>Heading 4</h4>
  <p>Enthusiastically disintermediate pandemic methods of empowerment vis-a-vis frictionless
    functionalities.</p>
</div>
<h2>Panel 2</h2>
<div class="g_roundedPanel2">
  <h2 class="g_panelHeading">Heading 2</h2>
  <p>Enthusiastically formulate technically sound best practices without backward-compatible
    products. Seamlessly supply extensible networks without distributed ROI. Compellingly enable
    cross-media materials via team building human capital.</p>
  <p>Rapidiously benchmark real-time infomediaries rather than efficient human capital.
    Synergistically e-enable performance based meta-services and extensive niches. Progressively
    enhance scalable infrastructures without best-of-breed e-commerce.</p>
  <h3>Heading 3</h3>
  <p>Credibly reconceptualize prospective ideas for viral core competencies. Credibly
    recaptiualize plug-and-play applications rather than vertical portals. Authoritatively enhance
    goal-oriented markets via multimedia based markets.</p>
  <p>Completely generate leveraged bandwidth through diverse functionalities. Energistically
    network next-generation action items without clicks-and-mortar portals. Globally generate
    parallel catalysts for change via extensive internal or "organic" sources.</p>
  <h4>Heading 4</h4>
  <p>Enthusiastically disintermediate pandemic methods of empowerment vis-a-vis frictionless
    functionalities.</p>
</div>
{% endblock %}

