{% extends "outer-layout.html" %}

{% block pageTitle %}About Qooxdoo{% endblock %}
{% block pageBodyId %}about{% endblock %}

{% block pageContent %}

<h1>Meat the team</h1>

<article>

  <p class="developer zauker description-container">After getting a
  degree in physics and chemistry, <a href="https://github.com/zauker"
  target="_blank">Fritz Zaucker</a> spent some years in New York
  working on a PhD in environmental physics which he received from
  the University of Heidelberg, Germany. After a couple of years
  working in climate change research he returned to Europe and led
  the IT support group of the Department of Electrical Engineering and
  Information Technology at ETH Zurich. Occasionally Fritz is teaching
  introductionary courses internet technologies and  databases and
  since 2007 is managing director of <a href="https://www.oetiker.ch"
  rel="nofollow">OETIKER+PARTNER AG</a>, Olten, Switzerland.</p>

  <p class="developer johnspackman description-container"> <a
  href="https://github.com/johnspackman" target="_blank">John Spackman</a>
  is a life-long software developer, starting in C and C++ before ending up
  in Java and Javascript, with a brief diversion into Delphi. John builds
  software systems for corporates, sometimes managing large quantities of data
  and code - John's company, Zenesis Ltd, actively maintains around a million
  lines of code in production systems. On his days off, John enjoys rebuilding
  rotary engines and working on his small holding with his extended family of
  4 generations, dogs, cats, sheep, pigs, geese, turkeys...and a horse.</p>

  <p class="developer cboulanger description-container"> <a
  href="https://github.com/cboulanger" target="_blank">Christian
  Boulanger</a> is a Berlin-based social scientist, part-time coder,
  and open source enthusiast (JavaScript/NodeJS/PHP). For his personal
  needs, he developed Bibliograph, an online bibliographic data manager,
  since 2005 based on Qooxdoo (<a rel="nofollow" target="_blank"
  href="http://bibliograph.org">http://bibliograph.org</a>),
  which is <a href="https://bibliograph.rewi.hu-berlin.de/"
  rel="nofollow" target="_blank">and used</a> by
  Humboldt-Universität zu Berlin's Law Faculty since 2011.</p>

  <p class="developer oetiker description-container"><a
  href="https://github.com/oetiker" target="_blank">Tobi Oetiker</a>
  has a degree in Electrical Engineering from the ETH in Zurich. He
  published hist first OpenSource software package in 1994. A network
  monitoring script named MRTG which became quite popular back in the day.
  Tobi lives in Switzerland and co-owns a small software and sysadmin
  company. His favorite programming Languages are Perl and JavaScript
  and he is still looking for an excuse todo a project in Rust.</p>

  <p class="developer hkollmann description-container"><a
  href="https://github.com/hkollmann" target="_blank">Henner Kollmann</a>
  has a degree in Electrical Engineering from the RWTH in Aachen. He
  is working for <a href="https://www.aucos.de/" rel="nofollow">aucos
  Ag</a> as senior software developer with Delphi, Java, Javascript,
  C++, Qt and SQL. In his freetime he supports since 2010 the developing
  of <a href="https://www.vzaweb.de/" rel="nofollow">VZAweb: web-based
  traffic census data base</a> which is fully based on qooxdoo. </p>

  <p class="developer derrell description-container"><a
  href="https://github.com/derrell" target="_blank">Derrell Lipman</a> has been
  working at the cutting edge of, and innovating in the computer science arena
  for 40+ years, including porting Unix Version 7 to the PDP-11, and inventing
  windows before Bill and friends. He has been an active contributor to qooxdoo
  for about 15 years. Derrell has a BS in Computer Science from University
  of the Pacific, and masters and Ph.D. from University of Massachusets,
  Lowell. Professionally, Derrell currently holds the title of Principal
  Innovation Architect. Derrell enjoys spending time with his family, playing
  racquetball and ping pong, running around with and training his puppy, and
  is a mentor for the local high school's FIRST (FRC) robotics team. </p>

</article>

<script>
  var ul = document.querySelector('article');
  for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
  }
</script>

{% endblock %}
