{% set pageBracketClass = "hero-bracket" %}
{% extends "layout-with-hero.html" %}

{% block pageTitle %}Testimonials{% endblock %}
{% block pageHeading %}Testimonials{% endblock %}
{% block pageBodyId %}Testimonials{% endblock %}

{% block pageContentBody %}

<article style="padding:50px">

<h2 id="testimonials-users">Quotes from Qooxdoo Users</h2>

<dl class="testimoniallist">
  
  <dt>Thomas C. Saddul, CEO and Chief Architect, <a href="https://www.digisoftph.com/">Digital Software
  Technology Consultancy</a></dt>
  <dd>"In late 2014, we searched and evaluated many Javascript UI
  frameworks in order to find the best suited for veteran C#
  programmers who are dependent on Visual Studio IDE. We finally
  decided to use the Qooxdoo UI framework, since it is easy to learn for
  developers who prefer to write their UI through code rather than using HTML
  markup and the hierarchy of classes in Qooxdoo is similar to C#
  built-in framework class library.</br>

   <em>Choosing Qooxdoo was the best decision we ever made!</em></br>

  Though qooxdoo has been around for many years, its design and
  methodology are now earning more popularity these days, just like
  SwiftUI, Flutter, Kotlin UI DSL and .NET MAUI.</br>

  Qooxdoo really shines when developing and maintaining large and
  complex browser-based systems especially when used with the
  TypeScript language (<a
  href="https://github.com/jbaron/qx-typed">https://github.com/jbaron/qx-typed</a>)."</dd>
  
    <dt>Gianluca Pivato, <a href="https://www.iceteagroup.com">Ice Tea Group (Wisej)</a></dt>
    <dd>"We have evaluated every single JavaScript framework out there before deciding to use qooxdoo to power the client side of Wisej. In our view, Qooxdoo is by far the most reliable, flexible, and well designed JavaScript library for the type of massive business applications we address."</dd>
</dl>

<p>Please send us your sucess story to be added here: <a
href="mailto:info@qooxdoo.org">info@qooxdoo.org</a>.</br> We also happily
accept additions to our <a href="/portfolio">demo page</a>.</p>

<h2 id="testimonials-coreteam">Quotes from Qooxdoo Core Team Members</h2>

<dl class="testimoniallist">

  <dt><a href="https://github.com/cboulanger">Christian Boulanger</a></dt>
  <dd>"I have been using qooxdoo since version 0.5, which dates from
  2006. Coming from an earlier version of what is now the dojo
  toolkit, I was impressed by the amount of attention given to
  architectural design and documentation of the framework. Qooxdoo's
  cross-browser compatibility and longterm stability and
  backwards-compatibility is legendary. Upgrades to newer versions
  have consistently been painless, and my production app has never had
  any problems with browser version changes."</dd>
  
  <dt><a href="https://github.com/zaucker">Fritz Zaucker</a></dt>
  <dd>"My longest running production application dates back to 2008
  using Qooxdion version 0.7 and was continuously upgraded to now Qooxdoo
  6.0.0. Migration was often completely automated by Qooxdoo's
  migration scripts, rarely needing mostly minor code adjustments. Not
  having to bother with browser specific implementations of HTML, CSS,
  and JavaScript language versions made life a lot easier. With the
  switch to the new Qooxdoo compiler these abstractions became even
  more powerful, allowing the use of modern JavaScript syntax and
  semantics which can be compiled down to "older" language versions
  through the built-in Babel support. Qooxdoo's powerful theming
  mechanism makes it reasonably easy to provide customers with their
  desired look and feel, consistently throughout even large
  applications."</dd>

  <dt><a href="https://www.ugpa.ru">Dmitry Zolotov, LLC "NPP Yugpromavtomatizacia"</a></dt>
  <dd>"Our company develops <a
    href="https://en.wikipedia.org/wiki/SCADA">SCADA</a> systems.
    We write code in C++ and C# and for GUI use Qt and WinForms.</br>
    I was entrusted to find a decent technology for making Web
    applications. And qooxdoo was chosen which fitted many
    requirements: it has to be available under free license, be
    well-documented, an application developed with it should look like
    a desktop one and most important be similar with GUI frameworks we
    use (also friendly for programmers).</br>
    So the first Web-client based on this framework has been developed.
    Qooxdoo showed its best side and we are going to use it further.
    If you need a solid framework for complex applications or systems,
    qooxdoo is what you are looking for."</dd>
  
</dl>

</article>

{% endblock %}

