@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,600&display=swap');

/*font-family: 'IBM Plex Sans', sans-serif;*/

/*
Blue header text: #4DD0E1
Header BG: #3949AB
Blue/Green: #00ACC1
Green: #6AC728
Orange: #D74315
Yellow: #CDDC39
Dark blue/green: #006056
*/

*,
*::before,
*::after {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body {
	background:grey;
	font-family: 'IBM Plex Sans', sans-serif;
	line-height:1.2;
	font-size:16px;
}

h2 {
	font-size:2.2rem;
	font-weight:400;
	color:#CDDC39;
	line-height:1;
	margin-bottom:1rem;
}

p {
	color:white;
	font-weight:200;
	font-size:1.4rem;
}

/*
=================
     HEADER
=================
*/

header {
	background-color:#e0e0e0;
	margin-top:80px;
	padding:4rem 2rem;
}

.logo {
	width:80vw;
	margin:0 auto;
	max-width:320px;
}

.logo-left {
	display:none;
}

.version {
	padding:1rem;
	border:1px solid #8c8c8c;
	border-radius:2rem;
	width:100px;
	text-align: center;
	font-size:1.2rem;
	font-weight:600;
	margin:4rem auto 1rem auto;
}

@media (min-width:600px) {

	.logo-centered {
		display:none;
	}

	.logo-left {
		display:block;
	}

	.logo {
		max-width:500px;
	}

}

@media (min-width:1024px) {

	header {
		margin-top:0;
		position:relative;
		height:150px;
		padding:0;
	}

	nav::before {
		content:'';
		display:block;
		width:640px;
		position:absolute;
		height:35px;
		background:url(../images/nav-bracket.svg);
		background-repeat:no-repeat;
		background-size:cover;
		top:26px;
		right:-2rem;
	}

	.version {
		position:absolute;
		right:2rem;
		top:55px;
		padding:0.5rem;
		width:150px;
		margin:0;
	}

	.logo {
		max-width:265px;
		position:absolute;
		left:2rem;
		top:40px;
	}
}

/*
=================
     FOOTER
=================
*/

footer {
	background-color:#006056;
	padding:3rem 2rem;
	text-align:center;
	color:white;
	font-weight:400;
}

footer ul {
	list-style:none;
	margin-bottom:2rem;
}

footer a {
	font-weight:200;
	text-decoration:none;
	color:rgba(255,255,255,0.4);
	margin:1rem;
	display:block;
	font-size:1.2rem;
}

footer a:hover,
footer a:visited {
	color:rgba(255,255,255,1);
}

footer ul li:first-child {
	margin-bottom:.6rem;
	border-bottom:1px solid rgba(255,255,255,0.5);
	padding-bottom:10px;
	font-size:1.5rem;
	font-weight:200;
}

@media (min-width:1024px) {

	.footer-wrapper {
		display:grid;
		grid-template-columns:repeat(4,1fr);
		text-align: left;
		grid-gap:20px;
		max-width:1200px;
		margin:0 auto;
	}

}


/*
====================================================
                   SCROLL TO TOP
====================================================
*/

.scrollToTop {
	font-weight:600;
	color:white;
	width:75px;
	height:75px;
	background:linear-gradient(#3949AB,#283694);
  	align-items:center;
	justify-content: center;
	text-align:center;
	border-radius:50%;
	text-decoration:none;
	line-height:1;
	padding:20px 10px;
	position:fixed;
	right:2rem;
	bottom:2rem;
	box-shadow: 0px 4px 2px rgba(0,0,0,0.5);
	display: none;
	transition:background-color ease .3s, background-position ease .3s;
  	z-index:99;
}

.scrollToTop:visited {

}

.scrollToTop:hover,
.scrollToTop:focus {

}

/*
====================================================
                   Links
====================================================
*/
section.hero a,
section.hero a:visited,
section.hero a:hover,
section.hero a:link {
	text-decoration: none;
	color: inherit;
}

div.description a,
div.description a:visited,
div.description a:hover,
div.description a:link {
	color: inherit;
	text-decoration: underline;
}
